// Form elements
form {
  .section {
    padding: $fr_form_section_padding;
    border: $fr_form_section_border;
    margin: $fr_form_section_margin;
  }
  .holder {
    label {
      width: $fr_holder_label_width_tablet;
    }
  }
}

