// Grid

body {
  margin-top: $fr_desktop_body_margin_top;
}

.stripe {
  .wrapper {
    &.fixed {
      max-width: $fr_fixed_wrapper_width_desktop;
    }
  }
}

.grid {
  &.two_column {
    .content {
      &.main {
        @include column($fr_two_col_main_column_width_desktop);
      }
      &.second {
        @include column($fr_two_col_second_column_width_desktop);
      }
    }
    &.display {
      padding: 20px 0;
      width: 85%;
      @include animate_on_color_and_background_color(1s);
      .content {
        @include animate_on_padding(0.5s);
        &.main {
          padding-left: 20px;
        }
        &.second {
          padding-left: 10px;
          padding-right: 20px;
        }
      }
      &.reversed {
        .content {
          &.main {
            padding-right: 15px;
            padding-left: 5px;
          }
          &.second {
            padding-left: 20px;
            padding-right: 10px;
          }
        }
      }
      // &:not(.reversed) {
      //   &:hover {
      //     .content {
      //       &.main {
      //         padding-left: 10px;
      //       }
      //       &.second {
      //         padding-left: 10px;
      //       }
      //     }
      //   }
      // }
      // &.reversed {
      //   &:hover {
      //     .content {
      //       &.main {
      //         padding-right: 10px;
      //       }
      //       &.second {
      //         padding-right: 10px;
      //       }
      //     }
      //   }
      // }
    }
    &.alternative.layout {
      .content {
        &.main {
          @include column($fr_two_col_alt_main_column_width_desktop);
        }
        &.second {
          @include column($fr_two_col_alt_second_column_width_desktop);
        }
      }
    }
    &.skewed {
      .content {
        &.main {
          @include column($sk_two_col_skewed_main_column_width_desktop);
        }
        &.second {
          @include column($sk_two_col_skewed_second_column_width_desktop);
        }
      }
    }
  }
  &.three_column {
    .content {
      &.main {
        @include column($fr_three_col_main_column_width_desktop);
      }
      &.second {
        @include column($fr_three_col_second_column_width_desktop);
      }
      &.third {
        @include column($fr_three_col_third_column_width_desktop);
      }
    }
  }
}

.supplementary {
  &.hanging {
    width: 48%;
  }
}
