// Navigation

.nav {
  .group {
    float: left;
    padding-left: $fr_nav_group_padding/2;
    &.alternative.position {
      float: right;
      padding-right: $fr_nav_group_padding;
    }
    &.third {
      clear: both;
    }
  }
}
