// Grid

body {
  margin: $fr_tablet_body_margin_top 0 0 0;
}

.stripe {
  &.hero {
    h1 {
      background-color: rgba(230,229,227,0.5);
    }
    p.standfirst {
      background-color: rgba(230,229,227,0.5);
    }
  }
  .wrapper {
    &.fixed {
      position: relative;
      @include auto_margins();
      &.stepped{
        max-width: $fr_fixed_wrapper_width_tablet;
      }
    }
  }
}

.grid {
  .section {
    &.separated {
      &.generous {
        margin: 10px 40px;
      }
    }
  }
  @include clearfix();
  &.two_column {
    .content {
      padding-bottom: $fr_two_col_content_padding_bottom;
      &.main {
        float: $fr_two_col_main_column_float;
        @include column($fr_two_col_main_column_width_tablet);
      }
      &.second {
        float: $fr_two_col_second_column_float;
        @include column($fr_two_col_second_column_width_tablet);
      }
    }
    // TECHDEBT
    &.asymetric {
      .content {
        &.main {
          width: 58%;
        }
        &.second {
          width: 38%;
        }
      }
    }
    &.alternative.layout {
      .content {
        padding-top: $fr_two_col_alt_content_padding_top;
        &.main {
          @include column($fr_two_col_alt_main_column_width_tablet);
        }
        &.second {
          @include column($fr_two_col_alt_second_column_width_tablet);
        }
      }
    }
    &.reversed {
      .content {
        &.main {
          float: $fr_main_column_float_reversed;
        }
        &.second {
          float: $fr_second_column_float_reversed;
        }
      }
    }
  }
  &.three_column {
    .content {
      padding-bottom: $fr_three_col_content_padding_bottom;
      &.main {
        float: $fr_three_col_main_column_float;
        @include column($fr_three_col_main_column_width_tablet);
      }
      &.second {
        float: $fr_three_col_second_column_float;
        @include column($fr_three_col_second_column_width_tablet);
      }
      &.third {
        float: $fr_three_col_third_column_float;
        @include column($fr_three_col_third_column_width_tablet);
      }
    }
  }
  .section {
    &.tight {
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      &.very {
        width: auto;
        max-width: 420px;
        .signup.panel,
        ul.list {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
      &.quite {
        width: 80%;
      }
    }
  }
}

.stripe {
  &.thankyou {
    margin: 30px 0;
    .wrapper {
      @include rounded_corners(4px);
      text-align: left;
      padding: 40px 0 10px 0;
    }
    &.standard {
      .wrapper {
        background-image: asset_url('/assets/_prefab/skin/background_thanks.jpg');
      }
    }
  }
  &.hero {
    .fixed.wrapper {
      text-align: center;
      .panel {
        @include animate_on_margins(0.5s);
        float: right;
        max-width: 360px;
        margin-top: 70px;
        padding-bottom: 0;
        h2.strong {
          font-size: 155%;
        }
        .check.list {
          margin: auto;
          max-width: 330px;
          text-align: left;
        }
        input {
          width: 88%;
        }
        .button_holder {
          padding: 0;
          button {
            padding-left: 0;
            padding-right: 0;
            width: : 88%;
          }
        }
      }
    }
  }
}

// TECHDEBT
.supplementary {
  &.hanging {
    border-left: 1px solid #ccc;
    position: absolute;
    left: 105%;
    top: 5px;
    width: 55%;
    padding: 1% 0 1% 3% ;
    p:last-of-type {
      margin-bottom: 0;
    }
  }
}

