// Radius Mixins
@mixin rounded_corners($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin circle($radius,$background_color,$font_size,$font_color,$text_shunt,$font_weight){
  font-weight: $font_weight;
  padding-top: $text_shunt;
  height: $radius - $text_shunt;
  width: $radius;
  text-align: center;
  @include rounded_corners($radius);
  background-color: $background_color;
  font-size: $font_size;
  color: $font_color;
}