@mixin resource_icon ($padding, $background_size){
  background-repeat: no-repeat;
  background-position: 0px;
  background-size: $background_size;
  padding-left: $padding;
}

@mixin resources ($padding, $background_size){
  &.link {
    @include resource_icon($padding, $background_size);
    background-image: asset_url($fr_resource_icon_url);
  }

  &.youtube {
    @include resource_icon($padding, $background_size);
    background-image: asset_url($fr_resource_icon_video_url);
  }

  &.audio {
    @include resource_icon($padding, $background_size);
    background-image: asset_url($fr_resource_icon_audio_url);
  }

  &.image {
    @include resource_icon($padding, $background_size);
    background-image: asset_url($fr_resource_icon_image_url);
  }

  &.document {
    @include resource_icon($padding, $background_size);
    background-image: asset_url($fr_file_icon_url);
  }

  &.doc,
  &.docx {
    @include resource_icon($padding, $background_size);
    background-image: asset_url($fr_resource_icon_doc_url);
  }
  &.pdf {
    @include resource_icon($padding, $background_size);
    background-image: asset_url($fr_resource_icon_pdf_url);
  }
  &.xls,
  &.xlsx {
    @include resource_icon($padding, $background_size);
    background-image: asset_url($fr_resource_icon_xls_url);
  }
  &.ppt,
  &.pptx {
    @include resource_icon($padding, $background_size);
    background-image: asset_url($fr_resource_icon_ppt_url);
  }
  &.swf {
    @include resource_icon($padding, $background_size);
    background-image: asset_url($fr_resource_icon_swf_url);
  }
}
