// Transitions

@mixin transition ($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -m-transition: $transition;
  transition: $transition;
}

@mixin animate_on_opacity($time) {
  $transition: opacity $time ease-in-out;
  @include transition ($transition);
}

@mixin animate_on_color_and_background_color($time) {
  $transition: background-color $time ease-in-out, color $time ease-in-out;
  @include transition ($transition);
}
