// Transitions

@mixin transition ($transition) {
  -webkit-transition: $transition;
  -moz-transition:    $transition;
  -m-transition:      $transition;
  transition:         $transition;
}

@mixin stacked_transition ($transitions, $times, $delays) {
  -webkit-transition-property:  $transitions;
  -webkit-transition-duration:  $times;
  -webkit-transition-delay:     $delays;
  -moz-transition-property:     $transitions;
  -moz-transition-duration:     $times;
  -moz-transition-delay:        $delays;
  -m-transition-property:       $transitions;
  -m-transition-duration:       $times;
  -m-transition-delay:          $delays;
  transition-property:          $transitions;
  transition-duration:          $times;
  transition-delay:             $delays;
}

@mixin animate_on_opacity($time) {
  $transition: opacity $time ease-in-out;
  @include transition ($transition);
}

@mixin animate_on_opacity_and_margin_top($time) {
  $transition: opacity $time ease-in-out,margin-top $time ease-in-out;
  @include transition ($transition);
}

@mixin animate_on_margins($time) {
  $transition: margin-top $time ease-in-out, margin-left $time ease-in-out, margin-bottom $time ease-in-out, margin-right $time ease-in-out;
  @include transition ($transition);
}

@mixin animate_on_opacity_and_margins($time) {
  $transition: opacity $time ease-in-out,margin-top $time ease-in-out, margin-left $time ease-in-out, margin-bottom $time ease-in-out, margin-right $time ease-in-out;
  @include transition ($transition);
}

@mixin animate_on_height($time) {
  $transition: height $time ease-in-out;
  @include transition ($transition);
}

@mixin creepy_image_animation($time) {
    $transition: width $time ease-in-out, height $time ease-in-out, margin $time ease-in-out;
    @include transition ($transition);
}

@mixin animate_on_min_height($time) {
  $transitions: min-height, height;
  $times: $time, 0.5s;
  $delays: 0, $time;
  @include stacked_transition ($transitions, $times, $delays);
}

@mixin animate_on_color_and_background_color($time) {
  $transition: background-color $time ease-in-out, color $time ease-in-out;
  @include transition ($transition);
}

@mixin animate_on_color_and_background_color_and_padding($time) {
  $transition: background-color $time ease-in-out, color $time ease-in-out, padding $time ease-in-out;
  @include transition ($transition);
}

@mixin animate_on_color_background_color_padding_margin_and_width($time) {
  $transition: background-color $time ease-in-out, color $time ease-in-out, padding $time ease-in-out, margin $time ease-in-out, width $time ease-in-out;
  @include transition ($transition);
}



@mixin animate_on_padding($time) {
  $transition: padding $time ease-in-out;
  @include transition ($transition);
}

@mixin animate_on_width_and_padding($time) {
  $transition: width $time ease-in-out, padding $time ease-in-out;
  @include transition ($transition);
}

@mixin rotation_animation ($time) {
  -webkit-animation: rotation $time infinite linear;
  -moz-animation: rotation $time infinite linear;
  -o-animation: rotation $time infinite linear;
  animation: rotation $time infinite linear;
}
