// Utilities

@mixin clearfix() {
  &:after {
    content:" ";
    display:block;
    height:0;
    clear:both;
    visibility: none;
  }
}

@mixin auto_margins() {
  margin-left: auto;
  margin-right: auto;
}

@mixin reset_auto_margins() {
  margin-left: 0;
  margin-right: 0;
}

@mixin content_after($content){
  &:after {
    content:$content;
  }
}

@mixin content_before($content){
  &:before {
    content:$content;
  }
}

@mixin hang_left($left_offset, $top_offset) {
  position: absolute;
  left: $left_offset;
  top: $top_offset;
}


@mixin negative_text_indent() {
  text-indent: -9000px;
  overflow: hidden;
}

@mixin negative_text_indent_block() {
  @include negative_text_indent();
  display: block;
}

@mixin negative_text_indent_inline_block() {
  @include negative_text_indent();
  display: inline-block;
}

@mixin link_with_image($branding_image,$branding_width,$branding_height) {
  @include negative_text_indent_inline_block();
  width: $branding_width;
  height: $branding_height;
  background-image: asset_url($branding_image);
  padding: 0;
  background-repeat: none;
}

@mixin hide() {
  @include negative_text_indent();
  width: 0;
  height: 0;
  position: absolute;
  left: -9000px;
}

@mixin zebra_striping($first_color,$second_color) {
  &:nth-child(2n+1) {
    background-color: $first_color;
  }
  &:nth-child(2n) {
    background-color: $second_color;
  }
}

@mixin divider($width,$line_width,$line_type,$color) {
  position: relative;
  &:after {
    content: " ";
    height: $fr_divider_height;
    left: (100-$width)/2;
    width: $width;
    position: absolute;
    border-bottom: $line_width $line_type $color;
  }
}

@mixin top_divider($width,$line_width,$line_type,$color) {
  @include divider($width,$line_width,$line_type,$color);
  &:after {
    top: 0;
  }
}
