body:not(.unfixed) {
  margin-top: $sk_desktop_body_margin_top;
}

.grid {
  &.pricing {
    .content {
      .section {
        min-height: 340px;
        > .button {
          margin-top: 10px;
        }
      }
      &.third {
        .section {
          .button {
            margin-top: 45px;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}

.stripe {
  &.hero {
    .fixed.wrapper {
      .panel {
        margin-right: -15px;
      }
    }
  }
}

.homepage {
  .screenshot {
    z-index: 9999999;
    display: block;
    position: absolute;
    top: 485px;
    left: 35px;
    width: 392px;
    height: 245px;
    border: none;
    ul.slider {
      background: #000;
      li {
        &.button_holder {
          position: absolute;
          top: 0;
          text-align: center;
          width: 100%;
          padding-top: 100px;
          height: 140px;
          background: rgba(0,0,0,0.4);
          display: block;
          opacity: 0;
          @include animate_on_opacity(0.3s);
        }
      }
    }
    &:hover {
      ul.slider {
        li {
          &.button_holder {
            opacity: 1;
          }
        }
      }
    }

    img {
      border-top: 1px solid rgba(0,0,0,0.5);
      @include rounded_corners(2px);
      width: 392px;
      height: 245px;
    }
  }
}

@media only screen
and (min-width : 1050px) {
  .stripe {
    &.hero {
      .fixed.wrapper {
        .panel {
          margin-right: -30px;
        }
      }
    }
  }
}

@media only screen
and (min-width : 1100px) {
  .stripe {
    &.hero {
      .fixed.wrapper {
        .panel {
          margin-right: -40px;
        }
      }
    }
  }
}

.floater {
  padding: 120px 30% 30px 30px;
  h1,
  h2,
  h3 {
    width: 80%;
    padding-bottom: 15px;
  }
}

#codeigniter_profiler {
  display: block;
}
