// Images

.creepy.image {
  &.landscape {
    &.large {
      width: 360px;
      height: 226px;
    }
  }
}

.display:hover {
  .creepy.landscape.image {
    &.large {
      img {
        width: 360px*1.1;
        height: 226px*1.1;
        margin: -5%;
      }
    }
  }
}
