// Navigation

body:not(.unfixed) {
  .nav {
    &.main {
      position: fixed;
    }
  }
}

.nav {
  &.main {
    // TECHDEBT
    padding: 15px 0 28px 0;
    top: 0;
    min-height: 62px;
    ul {
      li {
        &.branding {
          margin-top: 18px;
        }
      }
      &.cta.holder {
        top: 23px;
        li {
          &.optional {
            display: inline-block;
          }
          form {
            input {
              &[type='text'],
              &[type='password'],
              &[type='email'],
              &[type='phone'],
              &[type='number'] {
                width: 260px;
              }
            }
          }
        }
      }
      &.accordian {
        @include inline_list(0);
        &.expanded {
          li:nth-child(2) {
            height: auto;
          }
        }
        li:not(.x) {
          height: auto;
          display: inline-block;
          width: auto;
          a:not(.x) {
            height: auto;
            border: none;
            padding-top: 7px;
            padding-bottom: 7px;
            text-align: center;
          }
          &.expander.for.main_nav {
            display: none;
          }
        }
      }
      li:not(:first-child):not(:first-child) {
        margin-left: 10px;
      }
    }
  }
  &.footer {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    .group {
      margin-left: -2px;
    }
  }
  a:not(.x) {
    @include rounded_corners($sk_button_radius);
    display: inline-block;
    &.standout {
      // TECHDEBT
      background-color: #c3b6ac;
      font-weight: bold;
      color: #fff;
      &:hover:hover {
        background-color: darken(#c3b6ac,10%);
        color: #fff;
      }
    }
  }
}

