// Utilities

// TECHDEBT - Move to panels.css.scss

.testimonial {
  &.hanging {
    display: block;
    opacity: 0;
    @include animate_on_opacity_and_margins(1s);
    position: absolute;
    top: 0;
    left: -60px;
    text-align: left;
    width: 200px;
    p {
      color: #999;
    }
    .info {
      width: 180px;
      font-size: 90%;
    }
  }
}

@media only screen
and (min-width : 1050px) {
  .testimonial {
    &.hanging {
      opacity: 1;
    }
  }
  .homepage {
    .hanging.left.arrow {
      opacity: 1;
    }
  }
}

@media only screen
and (min-width : 1100px) {
  .testimonial {
    &.hanging {
      margin-left: -40px;
    }
  }
}

// TECHDEBT - Move to grid.css.scss
.grid {
  .section {
    &.asymetric {
      margin-left: $sk_desktop_asymetric_margin_left;
    }
  }
}

.our.office.location {
  width: 400px;
}

.slideshare {
  height: 527px;
}
