// Buttons

li.button_holder {
  vertical-align: top;
  border-top: 7px solid rgba(0,0,0,0);
}
a.button,
button {
  background-color: $sk_button_background_color;
  font-weight: $sk_button_font_weight;
  @include rounded_corners($sk_button_radius);
  @include animate_on_color_and_background_color(0.25s);
  font-weight: $sk_button_font_weight;
  &:hover {
    background-color: $sk_button_background_color_hover;
  }
  &:active {
    background-color: $sk_button_background_color_hover;
  }
  &.strong {
    font-size: $sk_strong_button_font_size;
    padding: $sk_strong_button_padding;
  }
  &.muted {
    background-color: #c3b6ac;
    &:hover {
      background-color: darken(#c3b6ac,10%);
    }
  }
  &.vibrant {
    background-color: #5fac00;
    &:hover {
      background-color: darken(#5fac00,10%);
    }
  }
}
