// Grid

body {
  background-color: $sk_body_background;
  &.marketing {
    background-color: $sk_marketing_body_background;
  }
  &.with {
    &.drip {
      .drip-tab-container {
        display: none;
      }
    }
  }
}

.section {
  position: relative;
  &.standout {
    @include rounded_corners(4px);
    margin: 40px 0;
    padding: 20px;
    background-color: #f0f0ee;
    &.flush {
      padding: 0;
      .container {
        padding: 20px;
      }
    }
  }
  &.security {
    font-weight: bold;
    p {
      display: inline-block;
      background-image: asset_url($sk_security_icon_url);
      @include icon(40px,18px);

    }
  }
}

.grid {
  &.pricing {
    // TECHDEBT
    margin: 20px 0;
    @include rounded_corners($sk_panel_radius);
    border: 1px solid #f0f0ee;
    h2 {
      padding-left: 30px;
      padding-bottom: 5px;
      font-style: italic;
      font-size: 95%;
      color: #999;
      font-weight: normal;
    }
    a.button + ul {
      padding-top: 20px;
    }
    ul + h2 {
      padding-top: 15px;
    }
    .content {
      padding: 0;
      height: 100%;
      .section {
        padding: 20px 10px;
        margin: 0;
      }
      &.main {
        background-color: #f0f0ee;
      }
      &.second {
        .section {
          padding-left: 20px;
        }
      }
      &.third {
        .section {
          padding-left: 20px;
          .button {
            margin: 30px;
            display: block;
            text-align: center;
          }
        }
      }
    }
  }
}

.stripe {
  &.thankyou {
    .wrapper {
      background-color: #ecebe9;
      background-position: left bottom;
      background-repeat: no-repeat;
      padding: 30px 20px 0 20px;
      text-align: center;
      .panel {
        padding-bottom: 0;
        h2.strong {
          font-size: 155%;
        }
        .check.list {
          margin: auto;
          max-width: 330px;
          text-align: left;
        }
      }
    }
  }
  &.hero {
    .fixed.wrapper {
      text-align: center;
      .panel {
        padding-bottom: 0;
        h2.strong {
          font-size: 115%;
        }
        .check.list {
          margin: auto;
          max-width: 330px;
          text-align: left;
        }
        input {
          margin: 0 0 20px 0;
          width: 84%;
        }
      }
    }
  }
}

.floater {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3% 40% 20px 20px;
  color: #fff;
  h1,
  h2,
  h3 {
    color: #fff;
    font-size: 95%;
    padding-bottom: 5px;
  }
  p {
    font-size: 85%;
    color: rgba(255,255,255,0.6);
  }
  img {
    display: none;
  }
}

#codeigniter_profiler {
  display: none;
}
