// Navigation

.nav {
  background-color: $sk_navbar_background_color;
  a {
    @include rounded_corners($sk_button_radius);
    &:hover {
      background: $sk_nav_link_hover_background_color;
    }
  }
  .group {
    &.search {
      margin-top: $sk_nav_search_top_margin;
    }
  }
}
