// Navigation

.nav {
  background: $sk_navbar_background;
  color: $sk_nav_color;
  // TECHDEBT
  padding: 20px 0;
  margin-bottom: 10px;
  ul {
    @include inline_list(0);
  }
  .branding {
    a {
      opacity: 1;
      @include link_with_image($sk_branding_image,$sk_branding_width,$sk_branding_height);
      @include animate_on_opacity(0.25s);
      margin-left: 20px;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  a {
    @include rounded_corners($sk_button_radius);
    color: $sk_nav_link_color;
    &:hover {
      background-color: $sk_nav_link_hover_background_color;
      color: $sk_nav_link_hover_color;
    }
  }
  .group {
    &.search {
      margin-top: $sk_nav_search_top_margin;
    }
  }
}
