// Panels
.panel {
  background: $sk_panel_color;
  @include rounded_corners($sk_panel_radius);
  &:not(.clear) {
    border: $sk_panel_border;
    @include box_shadow($sk_panel_shadow_left_offset,$sk_panel_shadow_right_offset,$sk_panel_shadow_blur,$sk_panel_shadow_color);
  }
  &.signup {
    border: 1px solid lighten(#326573,40%);
    background: #e3f9ff;
    h1,
    h2,
    h3 {
      color: #326573;
    }
  }
}

// TECHDEBT
.promo {
  &.hanging {
    display: none;
  }
  @include rounded_corners($sk_panel_radius);
  @include box_shadow($sk_panel_shadow_left_offset,$sk_panel_shadow_right_offset,$sk_panel_shadow_blur,$sk_panel_shadow_color);
  &:not(.clear) {
    border: $sk_panel_border;
  }
}

.cta {
  padding: 10px 0;
  text-align: center;
  .button {
    margin: 0 20px;
  }
}
