// Type

@import url($sk_default_font_import);

body,
button,
p {
  font-family: $sk_default_font_family;
}

.standfirst {
  font-size: 110%;
  color: $sk_standfirst_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $sk_heading_color;
  em {
    font-weight: normal;
  }
}

h1 {
  padding-top: 25px;
  line-height: 1.3;
  font-size: 150%;
  &.strong {
    // TECHDEBT
    font-size: 150%;
  }
  &.stronger {
    // TECHDEBT
    font-size: 150%;
    margin-bottom: 20px;
    line-height: 1.3;
  }
  &.strongest {
    // TECHDEBT
    font-size: 150%;
    margin-bottom: 20px;
    line-height: 1.3;
  }
  + p.standfirst {
    // TECHDEBT
    margin-top: 0.5em;
    margin-bottom: 0.3em;
  }
}

h2 {
  font-size: 110%;
  margin-bottom: 0;
  + p {
    // TECHDEBT
    margin-top: 0;
  }
  &.strong {
    // TECHDEBT
    font-size: 150%;
    margin-bottom: 20px;
  }
  &.stronger {
    // TECHDEBT
    font-size: 150%;
    margin-bottom: 20px;
    line-height: 1.3;
  }
  &.strongest {
    // TECHDEBT
    font-size: 150%;
    margin-bottom: 20px;
    line-height: 1.3;
  }
}

h3 {
  font-size: 105%;
  margin-bottom: 5px;
  line-height: 1.6;
  &.strong {
    font-size: 110%;
  }
  + p {
    margin-top: 0;
  }
}

label {
  color: $sk_label_color;
}

th {
  color: $sk_th_color;
}

small {
  color: $sk_small_color;
}

.stripe {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    a:not(.button):not(.lozenge):not(.resource):not(.x):not(.x):not(.x) {
      text-decoration: none;
      color: $sk_heading_link_color;
      &:hover {
        color: $sk_heading_link_hover_color;
      }
    }
  }
}

// TECHDEBT
.panel {
  h2 {
    color: #a5a5a5;
  }
  h3 {
    color: #ac0000;
  }
}

.cost {
  margin: 15px 0 20px 0;
  .price {
    padding: 10px 0 0 10px;
    height: 1.1em;
    font-size: 330%;
    font-weight: bold;
    position: relative;
    .currency {
      display: inline-block;
      vertical-align: top;
      margin-left: -14px;
      padding-right: 3px;
      padding-top: 10px;
      font-size: 40%;
      display: inline-block;
    }
    abbr {
      font-size: 40%;
    }
  }
  .billing.period {
    margin-top: 15px;
    font-style: italic;
    font-size: 90%;
    color: #999;
  }
  &:after,
  &:before {
    content: " ";
    display: block;
    height: 0;
    width: 30%;
    margin: 0 auto 0 auto;
    border-bottom: 1px solid #d9d7d3;
  }
  &:after {
    margin: 20px auto 0 auto;
  }
}
