// Utilities

#google_map {
  display: none;
}

.our.office.location {
  width: 200px;
  margin: 3px 0;
  h1,
  h2,
  h3{
    margin-bottom: 5px;
  }
  p, small{
    margin-bottom: 0;
  }
  small {
    display: none;
  }
}

// TECHDEBT
.handwriting {
  color: #c00;
  font-size: 140%;
  font-family: "felt-tip-roman", "Comic Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
  &.balanced {
    text-align: center;
  }
  &.tight {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

.angled {
  margin-bottom: 10px;
  &.clockwise {
    @include rotate(-2deg);
  }
  &.counter_clockwise {
    @include rotate(2deg);
  }
}

.arrow {
  background-repeat: no-repeat;
  &.up {
    padding-top: 60px;
    background-image: url('/assets/_prefab/skin/arrows/up_arrow_left_leaning.png');
    background-position: 30px top;
  }
}

.slideshare {
  height: 307px;
}

.gm-style .gm-style-iw small a {
  font-size: inherit;
  color: #999!important;
  &:hover {
    color: #444!important;
  }
}
