// Lists

ul {
  &.list.of {
    &.links {
      &.proportion {
        &.half {
          width: 50%;
        }
        &.third {
          width: 33%;
        }
        &.quarter {
          width: 25%;
        }
      }
    }
    &.testimonials {
      padding-left: 135px;
      li {
        .creepy.image {
          left: -130px;
        }
      }
    }
    &.team.bios {
      max-width: 800px;
      margin: auto;
      > li {
        width: 158px;
        font-size: 100%;
      }
    }
  }
}

.second.content,
.third.content {
  ul {
    &.list.of {
      &.testimonials {
        padding-left: 120px;
        li {
          .creepy.image {
            left: -115px;
          }
        }
      }
    }
  }
}

ol {
  &.hanging.images {
    width: 110%;
    margin: 0 0 0 -5%;
    li {
      padding: 10px 20px 10px 230px;
      position: relative;
      min-height: 160px;
      @include animate_on_color_and_background_color_and_padding(1s);
      &:hover {
        padding: 10px 10px 10px 240px;
      }
    }
  }
  h2 {
    padding-top: 15px;
  }
  .image.holder {
    text-align: left;
    position: absolute;
    left: 20px;
    top: 20px;
  }
}
