// Lists

ul {
  &.list.of {
    &.links {
      &.proportion {
        &.half {
          width: 50%;
        }
        &.third {
          width: 33%;
        }
        &.quarter {
          width: 25%;
        }
      }
    }
    &.testimonials {
      padding-left: 135px;
      li {
        .creepy.image {
          left: -130px;
        }
      }
    }
    &.team.bios {
      max-width: 800px;
      margin: auto;
      > li {
        width: 158px;
        font-size: 100%;
      }
    }
  }
}
