// Navigation

.nav {
  &.main {
    margin-bottom: 35px;
  }
  &.footer {
    .group {
      &.alternative.position {
        ul:not(.bullet){
          li:not(:first-child) {
            margin-left: 6px;
          }
        }
      }
    }
  }
}
