// Utilities

// - move to panels.css.scss

.promo {
  &.hanging {
    display: block;
  }
}

#google_map {
  display: block;
}

.our.office.location {
  width: 350px;
  background: asset_url('_prefab/skin/google_maps/brick_lane.png') no-repeat left top;
  padding-left: 240px;
  small {
    display: inherit;
  }
}

.slideshare {
  height: 416px;
}
