table {
  width: 100%;
  &.data {
    border-spacing: 0;
    border-collapse: collapse;
    margin: $fr_data_table_margin;
    &.condensed {
      td {
        padding: $fr_condensed_data_table_td_padding;
      }
    }
    td{
      padding: $fr_data_table_td_padding;
      border-bottom: $fr_data_table_td_border_bottom;
    }
    th {
      text-align: left;
      border-bottom: $fr_data_table_th_border_bottom;
    }
    .alt_position {
      text-align: center;
    }
  }
}
