// Type

body,
p,
button {
  font-family: $fr_default_font_family;
}

body,
p {
  color: $fr_default_font_color;
  line-height: $fr_default_line_height;
  &.muted {
    color: #999;
  }
}

.standfirst {
  font-size: $fr_standfirst_font_size;
}

q {
  font-size: 125%;
  font-weight: bold;
}

.info {
  &.additional {
    display: $fr_additional_info_display;
    padding: $fr_additional_info_padding;
    background: $fr_additional_info_background;
    margin: $fr_additional_info_margin;
  }
  &.extra {
    // TECHDEBT
    color: #999;
    &.bio {
      font-size: 95%;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: $fr_heading_margin_bottom;
  small {
    font-size: $fr_heading_small_size;
    font-weight: $fr_heading_small_weight;
    color: $fr_heading_small_color;
  }
}

.stripe {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    a:not(.button):not(.lozenge):not(.resource):not(.x):not(.x):not(.x) {
      text-decoration: none;
      color: $fr_heading_link_color;
      &:hover {
        color: $fr_heading_link_hover_color;
      }
    }
  }
}

h1 {
  font-size: $fr_h1_font_size;
}

body {
  color: $fr_text_color;
}

.treat.as {
  &.word {
    display: inline-block;
  }
}
