// Utilities

.inconspicuous,
.system_check {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  @include negative_text_indent();
}

.clippable {
  .full {
    display: none;
  }
  &.unclipped {
    .full {
      display: block;
    }
  color: blue;
    .truncated {
      display: none;
    }
  }
}

.google.map {
  margin-top: 20px;
  height: 400px;
  img {
    max-width: inherit;
  }
}

.vcard {
  .item {
    display: block;
  }
}

.distinct {
  display: block;
}

//TECHDEBT + MOVE TO LABELS
.label {
  display: inline-block;
  padding: 0 7px;
  margin: 0 5px 0 0;
  color: #fff;
  background-color: #5abf00;
  @include rounded_corners(4px);
  &.strong {
    font-weight: bold;
    padding: 3px 10px;
  }
  &.primary {
    background-color: #0056a6;
  }
  &.success {
    background-color: #5abf00;
  }
  &.warning {
    background-color: #c00;
  }
  &.muted {
    background-color: #999;
  }
  + h1,
  + h2,
  + h3,
  + h4 {
    padding-top: 10px;
  }
}

.waiting:before {
  content: " ";
  display: inline-block;
  height:8px;
  width:8px;
  margin: 0 10px -3px 0;
  position:relative;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left:6px solid rgba(255,255,255,.15);
  border-right:6px solid rgba(255,255,255,.15);
  border-bottom:6px solid rgba(255,255,255,.15);
  border-top:6px solid rgba(255,255,255,.8);
  border-radius:100%;
}

@include rotation(0deg,359deg);

